* {
  background-color: #f7f4f4;
}

.container {
  width: 80%;
  margin: auto;
}

.head {
  text-align: center;
  padding: 4% 0 3% 0;
  font-size: calc(10px + 1.3vmin);
}
.foldscope {
  color: #0495b8;
}
.instruments {
  color: #ec1e65;
  font-weight: 400;
}

.test-container {
  padding: 1% 0 1% 0;
}
.form-container {
  padding: 1% 0 1% 0;
}

.output-container p {
  margin-bottom: 0px;
}
